body{
    background:linear-gradient(to right , rgb(184, 197, 211) , rgb(229, 233, 236))
}
label{
    font-size: large;
}
.warn{
    color: red;
    font-size: 17px;
    display: none;
}
#add-con{
    display: none;
}
.form-contacts{
    display: none;
}
.database{
    display: none;
}
.data{
    font-size: 17px;
    font-weight: bold;
}
.owner-database{
    display: none;
}
.my-contact-database{
    display: none;
}
#show-contacts{
    display: none;
}